package catalog

import (
    "media-site/internal/catalogmodel"
    layout "media-site/web/templates/layout"
)

templ Catalog(page catalogmodel.CatalogPage) {
    @layout.Base() {
        @CatalogContent(page)
    }
}
