package catalog

import (
    "media-site/internal/catalogmodel"
)

templ CatalogContent(page catalogmodel.CatalogPage) {
    <div id="catalog-content">
        @Breadcrumb(page.Breadcrumb, page.Directories)
        <div class="p-4">
            @ImageGrid(page.CurrentDir, page.ImageBatch)
        </div>
    </div>
}
