package pages

import "page-fetcher/web/templates/layout"

templ Home() {
	@layout.Base() {
		<section class="section">
			<div class="container">
				<h1 class="title">Web Page Fetcher</h1>
				<form method="post">
					<div class="field">
						<label class="label">URLs</label>
						<div class="control">
							<textarea
								class="textarea"
								name="text"
								rows="10"
								placeholder="Enter one page URL per line..."
							></textarea>
						</div>
					</div>
					<div class="field">
						<div class="control">
							<button type="submit" class="button is-primary">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</section>
	}
}
